<html>
    <head>
        <title>TCA REPORT</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    </head>

    <body>
		<li><a href="/logout/">Logout</a></li>
		{% if user.is_authenticated %}
		 Trader_ID : {{user.username}}
        <ul>
        {% for id in id_list|safeseq %}  
            <li>  {{id}} </li>
        {% endfor %}
        </ul>
		{% endif %}
    {{df}}
    </body>
</html>